@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
/* Global -------------------------------*/
body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  margin: auto;
}

.login__container {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 330px;
  text-align: center;
 
}

.login__container > h3 {
  margin-top: 2.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-size: 2.5rem;
  /*   font-weight: normal; */
}

input:focus {
  outline: none !important;
  border-color: #1877f2;
  box-shadow: 0 0 3px #719ece;
}

.login__container > form > center > input {
  height: 50px;
  margin-bottom: 10px;
  background-color: white;
  width: 303px;
  border: 0.5px solid gray;
  border-radius: 4px;
  outline: none;
  padding-left: 20px;
  /*   background: #FFFFFF url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x; */
  border: 1px solid #dddfe2;
  color: #1c1e21;
  line-height: 14px;
  font-size: 14px;
  vertical-align: middle;
}

.login__container > form > center > input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.8);
  padding-left: 0px;
}


