@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/* Global ===================== */
:root {
  --dark-blue: #25293b;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
}

.container {
  width: max(80vw, 800px);
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

h3,
h2 {
  font-size: 2rem;
  font-weight: larger;
  color: var(--dark-blue);
  font-weight: bold;
  
}

/* Links e botões ========================= */

button {
  width: 93.3%;
  height: 50px;

  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;

  display: inline-block;
  text-decoration: none;

  text-align: center;
  font-weight: bold;

  background-color: #8217d1;
  border-radius: 6px;

  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;

}

button:hover {
  background: #9533db;
}

.data-table {
  width: min(80vw, 799px);
  border-spacing: 0 0.5rem;
  color: #4f5674;
}

table thead tr th,
table tbody tr td {
  border-radius: 0.29rem 0 0 0.29rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.29rem 0.29rem 0;
}

table thead th {
  background: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: left;
  color: var(--dark-blue);
  font-weight: 650;
}

table tbody tr td  {
  color: var(--dark-blue);
  opacity: 0.91;
  font-size: 0.89rem;
  font-weight:bold;
}


table tbody td {
  background: white;
  padding: 1rem 2rem;
}
